@charset "UTF-8";
/* CSS Document*/

body {
	background-color: white;
	color: black;
}

h1 {
	text-decoration: underline;
	font-size: 24;
}

#article-title {
	font-size: 44;
	font-style: normal;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
}

h2 {
	font-size: 18;
	font-style: italic;
	margin-bottom:6px;
	padding-bottom:0px;
}

ul.bulletlist{
	margin-bottom:6px;
	margin-top:0px;
}

li.bullet{
	font-size:16;
	font-style:normal;
	font-weight:normal;
	margin-bottom:0px;
	margin-top:0px;
}

#sidebar-recent {
	position: absolute;
	height: 30%;
	right: 0;
	top: 55px;
	width: 200px;
	
    background-color: white;
	color: black;
	overflow: auto;
	margin-right:8px;

	/*For editing and visualizing positions */
	/*
	border: 1px solid black;	
	background-color: #a581ec;
	*/
}

#sidebar-suggested {
	position: absolute;
	height: 400px;
	right: 0;
	top: 255px;
	width: 200px;
	
    background-color: white;
	color: black;
	overflow: auto;
	margin-right:8px;

	/*For editing and visualizing positions */
	/*
	border: 1px solid black;	
	background-color: #a581ec;
	*/
}

.sidelink {
	color: black;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
	color: black;
	list-style-type: circle;
}

.textbody {
	position: relative;
	margin-left: 20px;
	margin-right: 220px;
	margin-top: 20px;
	height: 1000 px;
	width: auto;
	color: black;
    background-color: white;
}

.container {
   position:relative; 
   padding:0 0 0 55px;
}

#content{
    position:absolute;
	top:0; bottom:0; left:0;
	width: 50px;
    float: right;
    background: #aafed6;
}

.left {
    float: none; /* not needed, just for clarification */
    background: #e8f6fe;
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}​​